In [72]:
import pandas as pd
import numpy as np

In [73]:
df_made_save = pd.read_csv('saves.csv')
df_made_save = df_made_save.drop_duplicates(subset=['gID']).reset_index(drop=True)

In [74]:
df_made_save.head(10)

,gID,scoreDiff,inning,Current Outs,onFirst,onSecond,onThird,pID,name
0,ANA201004050,3,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
1,ANA201004230,2,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
2,ANA201004260,3,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
3,ANA201006220,3,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
4,ANA201006230,1,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
5,ANA201006260,2,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
6,ANA201006290,1,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
7,ANA201007010,1,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
8,ANA201007160,1,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes
9,ANA201007170,1,9.0,0.0,NaN,NaN,NaN,fuenb001,Brian Fuentes

In [75]:
df_pitch_subs = pd.read_csv('pitching_subs.csv')
df_pitch_subs.head(10)

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,RUN3_FATE_ID,FATE_RUNS_CT,ASS6_FLD_CD,ASS7_FLD_CD,ASS8_FLD_CD,ASS9_FLD_CD,ASS10_FLD_CD,UNKNOWN_OUT_EXC_FL,UNCERTAIN_PLAY_EXC_FL,save_pit_id
0,ANA201004050,MIN,7,0,0,2,2,.CBFBX,3,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
1,ANA201004050,MIN,8,0,0,3,0,.BBBB,3,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
2,ANA201004050,MIN,9,0,0,1,2,.BCFS,3,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
3,ANA201004050,MIN,5,1,2,2,2,.CBFBX,3,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
4,ANA201004050,MIN,7,1,1,1,1,.CBX,3,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
5,ANA201004050,MIN,8,1,0,1,1,.BCX,3,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,fuenb001
6,ANA201004060,MIN,6,0,0,0,1,.CX,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,raucj001
7,ANA201004060,MIN,8,0,0,3,2,.CBFBBB,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,raucj001
8,ANA201004060,MIN,7,1,2,1,1,.BFX,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,raucj001
9,ANA201004060,MIN,8,1,0,0,1,.CX,5,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,F,F,raucj001

In [76]:
def save_sit(row):
    if row['PIT_ID'] == row['save_pit_id']:
        return True
    elif row['BAT_HOME_ID'] == 0 and row['HOME_SCORE_CT'] > row['AWAY_SCORE_CT']:
        return True
    elif row['BAT_HOME_ID'] == 1 and row['HOME_SCORE_CT'] < row['AWAY_SCORE_CT']:
        return True
    return False

df_pitch_subs['save_sit'] = df_pitch_subs.apply(save_sit, axis=1)

In [78]:
df_pitch_subs[['GAME_ID', 'PIT_ID', 'INN_CT', 'BAT_HOME_ID', 'AWAY_SCORE_CT', 'HOME_SCORE_CT', 'save_pit_id', 'save_sit']].head(100)

,GAME_ID,PIT_ID,INN_CT,BAT_HOME_ID,AWAY_SCORE_CT,HOME_SCORE_CT,save_pit_id,save_sit
0,ANA201004050,jepsk001,7,0,3,4,fuenb001,True
1,ANA201004050,rodnf001,8,0,3,4,fuenb001,True
2,ANA201004050,fuenb001,9,0,3,6,fuenb001,True
3,ANA201004050,craij001,5,1,3,4,fuenb001,False
4,ANA201004050,mijaj001,7,1,3,4,fuenb001,False
5,ANA201004050,neshp001,8,1,3,6,fuenb001,False
6,ANA201004060,palmm001,6,0,5,3,raucj001,False
7,ANA201004060,stokb001,8,0,5,3,raucj001,False
8,ANA201004060,duenb001,7,1,5,3,raucj001,True
9,ANA201004060,guerm001,8,1,5,3,raucj001,True
10,ANA201004060,raucj001,9,1,5,3,raucj001,True
11,ANA201004070,bulgj001,7,0,4,1,raucj001,False
12,ANA201004070,shies002,9,0,4,1,raucj001,False
13,ANA201004070,guerm001,8,1,4,1,raucj001,True
14,ANA201004070,raucj001,9,1,4,1,raucj001,True
15,ANA201004080,jepsk001,7,0,3,1,NaN,False
16,ANA201004080,stokb001,8,0,3,1,NaN,False
17,ANA201004080,rodnf001,9,0,6,1,NaN,False
18,ANA201004080,neshp001,6,1,3,1,NaN,True
19,ANA201004080,mijaj001,7,1,3,1,NaN,True
20,ANA201004080,craij001,8,1,6,1,NaN,True
21,ANA201004080,burna002,9,1,10,1,NaN,True
22,ANA201004090,bulgj001,6,0,5,2,NaN,False
23,ANA201004090,cassb001,7,0,10,2,NaN,False
24,ANA201004090,ramie003,7,1,10,2,NaN,True
25,ANA201004090,bresc001,9,1,10,4,NaN,True
26,ANA201004100,jepsk001,7,0,1,3,NaN,True
27,ANA201004100,shies002,8,0,2,3,NaN,True
28,ANA201004100,rodnf001,9,0,3,3,NaN,False
29,ANA201004100,blevj001,7,1,2,3,NaN,False
...,...,...,...,...,...,...,...,...
70,ANA201004250,rodnf001,8,0,4,8,NaN,True
71,ANA201004250,shies002,9,0,4,8,NaN,True
72,ANA201004250,logab001,4,1,3,5,NaN,False
73,ANA201004250,aceva001,5,1,3,5,NaN,False
74,ANA201004250,martd004,7,1,4,5,NaN,False
75,ANA201004250,mitrs001,8,1,4,8,NaN,False
76,ANA201004260,bulgj001,7,0,1,5,fuenb001,True
77,ANA201004260,jepsk001,7,0,1,5,fuenb001,True
78,ANA201004260,stokb001,8,0,1,5,fuenb001,True
79,ANA201004260,rodnf001,8,0,2,5,fuenb001,True
80,ANA201004260,fuenb001,9,0,2,5,fuenb001,True
81,ANA201004260,perer002,6,1,1,5,fuenb001,False
82,ANA201004260,sippt001,7,1,1,5,fuenb001,False
83,ANA201004270,palmm001,6,0,3,1,NaN,False
84,ANA201004270,shies002,8,0,7,1,NaN,False
85,ANA201004270,stokb001,9,0,8,1,NaN,False
86,ANA201004270,laffa001,7,1,4,1,NaN,True
87,ANA201004270,lewij003,8,1,8,1,NaN,True
88,ANA201004270,smitj002,8,1,8,1,NaN,True
89,ANA201004280,jepsk001,7,0,3,3,NaN,False
90,ANA201004280,rodnf001,8,0,3,3,NaN,False
91,ANA201004280,fuenb001,9,0,3,3,NaN,False
92,ANA201004280,wrigj001,7,1,3,3,NaN,False
93,ANA201004280,sippt001,8,1,3,3,NaN,False
94,ANA201004280,smitj002,9,1,3,3,NaN,False
95,ANA201004280,perer002,9,1,3,3,NaN,False
96,ANA201004280,perec002,9,1,3,3,NaN,False
97,ANA201005100,jepsk001,7,0,0,4,NaN,True
98,ANA201005100,rodnf001,8,0,0,4,NaN,True
99,ANA201005100,fuenb001,9,0,1,4,NaN,True